button {
  display: block;
  width: 100%;
  padding: 8px 0;
  margin: 8px auto
}

p {
  border-bottom: 1px dashed #ddd
}

#pictureUrl {
  display: block;
  margin: 0 auto;
  width: 12%;
  display: -moz-box;
  display: -webkit-box;
  display: box;
  -moz-box-pack: center;
  -moz-box-align: center;
  -webkit-box-pack: center;
  -webkit-box-align: center;
  box-pack: center;
  box-align: center;
  -moz-border-radius: 100px;
  -webkit-border-radius: 100px;
  border-radius: 100px;
  
}

#accessToken, #utouId {
  display: block;
  overflow: auto
}


#map {
  height: 100%;
}
/* Optional: Makes the sample page fill the window. */



body {
  font-family: roboto;
  background-color: #e9ecef
}

.container {
  margin-top: 80px;
  margin-bottom: 20%
}

.card {
  box-sizing: border-box;
  padding: 2vh;
  border: none;
  border-radius: 10px;
  margin: 15px
}

h2.headingmain {
  font-weight: bold
}

h3 {
  font-weight: bold
}

h5 {
  font-weight: bold
}

small.text-muted {
  font-weight: bold
}

p.card-text {
  font-size: 11px;
  font-weight: bold
}

.btn-dark {
  color: #dae0e5;
  font-size: 13px;
  font-weight: bold
}

.btn.nxt {
  background: #fff;
  border: 2px solid #dae0e5;
  color: #6c757d;
  font-size: 13px;
  font-weight: bold
}

.card-footer {
  background: #fff;
  border: none;
  outline: none
}




